/include/ "system-conf.dtsi"
/ {
};
&spi0 { 	
    #address-cells=<1>;     
    #size-cells=<0>; 	
    status = "okay"; 	
    num-cs = <1>; 
    bus-num = <0>;	
    is-decoded-cs = <0>;  
	
    spidev@0x00 {	 	
        compatible = "linux, spidev";
        //compatible = "rohm,dh2228fv";
	
        /* Max SPI clock frequency via Zynq EMIO is 25MHz */	
        spi-max-frequency = <25000000>; 
		
        /* slave number - CS */
        reg = <0>; 

        /* Set SPI mode = 0 */		
        spi-cpol = <0>; 		
        spi-cpha = <0>; 	
    }; 
};
